extends layout.pug

block content
  section
    h1= shortTitle
    if notes
      ul
        each note in notes
          li
            if note.date
              span #{note.date}
            a(href=`${note.link}`) #{note.title? note.title: "Unnamed Note"}


block footer
  footer
    div#indexfooter
      p © HMP School Notes
      p This site is created by Vu Huy Minh Pham.
      p
        a(href='mailto:minhisverynormal@gmail.com') My Email
